.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  background: #ffffff;
}
.box__zaK0T {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
  min-height: 0;
}
.header {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.logoText {
  position: relative;
  text-align: center;
  max-width: 80px;
  align-self: center;
  margin: 5px;
}
.searchbar__gYPzb:global(.__wab_instance) {
  position: relative;
  margin: 10px;
}
.button__udyYs {
  position: relative;
  border-width: 1px;
  border-style: none;
}
.button__dpLRk {
  position: relative;
  border-width: 1px;
  border-style: none;
}
.button__qPjKd {
  position: relative;
  white-space: pre;
  border-width: 1px;
  border-style: none;
}
.button__hkr7C {
  position: relative;
  white-space: pre;
  border-width: 1px;
  border-style: none;
}
.button___6Z4O9 {
  position: relative;
  border-width: 1px;
  border-style: none;
}
.burguerMobileMenuButton {
  position: relative;
  object-fit: cover;
  min-width: 40px;
  min-height: 50px;
  width: 1em;
  height: 1em;
  margin: 5px;
}
.headerSuggestionBox {
  display: block;
  position: absolute;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 80px;
  left: 80px;
  top: 60px;
  z-index: 3;
  border-radius: 20px;
  background: #ffffff;
}
.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 300px;
  flex-shrink: 0;
  padding: 30px;
  background: url("./images/heroImagejpeg.jpeg") left 0% top 20% / cover;
}
@media (min-width: 641px) {
  .hero {
    height: 500px;
    align-items: center;
    flex-shrink: 0;
  }
}
.box__xtMvh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
@media (min-width: 641px) {
  .box__xtMvh {
    width: 689px;
    height: 252px;
    flex-shrink: 0;
  }
}
.box__sl2Fp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.brandsBeats {
  position: relative;
  font-size: 46px;
  font-weight: 700;
  color: #ffffff;
}
.box__k5Ifp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.box__fDPv9 {
  position: relative;
  font-size: 18px;
  color: #ffffff;
}
.box__s5Bs {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.box___0R4Il {
  position: relative;
  font-size: 18px;
  color: #ffffff;
}
.box__drz7N {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.searchbar__ai0OK:global(.__wab_instance) {
  position: relative;
  margin: 10px 0px 10px 10px;
}
.heroSuggestionBox {
  display: block;
  position: relative;
  left: auto;
  top: auto;
  border-radius: 20px;
  background: #ffffff;
}
.searchResults {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  z-index: 1;
  flex-grow: 2;
}
.footer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-height: 98px;
  background: #1db2bd;
}
