.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
}
.img {
  position: relative;
  object-fit: cover;
  width: 260px;
  height: 173px;
  flex-shrink: 0;
}
